<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
        <form [formGroup]="pcForm">
            <div class="mb-3">
                <label class="form-label">Category Name:</label>
                <input type="text" class="form-control" name="pcname" formControlName="pcname">
              </div>
              <div class="mb-3">
                <label class="form-label">Description:</label>
                <input type="text" class="form-control" name="description" formControlName="description">
              </div>
              <button class="btn btn-primary me-md-3" type="reset" value="Reset" >Clear</button>
              <button type="submit" class="btn btn-primary" [disabled]="pcForm.invalid" (click)="pcfunc()">Submit</button>
        </form>
    </div>
</div>