<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <!--form [formGroup]="userForm"-->
        <form>
            <div class="mb-3">
                <label  class="form-label">UserName:</label>
                <input type="text" class="form-control" name="username" id="username" [(ngModel)]="user.username">
              </div>
            <div class="mb-3">
                <label  class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password">
              </div>
              <button type="button" class="btn btn-primary" (click)="userLogin()">Login</button>
        </form>
    </div>
</div>

<!-- login.component.html -->
