<!--div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        <h2>Raise New Ticket</h2>
        <form [formGroup]="caForm">
            <div class="mb-3">
                <label class="form-label">Product name:</label>
                <input type="text" class="form-control" name="pname" formControlName="pname">
              </div>
            <div class="mb-3">
              <label class="form-label">Subject:</label>
              <input type="text" class="form-control" name="subject" formControlName="subject">
            </div>
            <div>
            <label class="form-label">Complaint:</label>
            <input type="text" class="form-control" name="complaint" formControlName="complaint">
        </div>
        <div>
            <label class="form-label">Answer:</label>
            <input type="text" class="form-control" name="complaintAnswer" formControlName="complaintAnswer">
        </div>
            <button type="submit" class="btn btn-primary" (click)="cafunc()">Submit</button>
          </form>
    </div>
</div>-->

<div class="row">
  <div class="col-sm-2"></div>
<div class="col-sm-8">
  <table class="table">
  <thead>
    <tr>
      <th>Product Code</th>
      <th>Product Name</th>
      <th>Subject</th>
      <th>Complaint</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ncl of newComplaintList">
      <td>{{ncl.id}}</td>
      <td>{{ncl.pname}}</td>
      <td>{{ncl.subject}}</td>
      <td>{{ncl.complaint}}</td>
      <td><button class="btn btn-success" (click)="delcomplaintfunc(ncl.id)" >Delete</button></td>
    </tr>
  </tbody>
</table>
</div>
<div class="col-sm-2"></div>
</div>

