
<div class="d-flex justify-content-evenly">
<div class="card" style="width: 18rem;">
        <img src="assets\user.jpg" class="card-img-top">
        <div class="card-body">                   
          <a routerLink="/user" class="btn btn-danger">User</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="assets\Employee.jpg" class="card-img-top">
        <div class="card-body">                   
          <a routerLink="/employee" class="btn btn-secondary">Employee</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="assets\Admin.jpg" class="card-img-top">
        <div class="card-body">                   
          <a routerLink="/admin" class="btn btn-success">Admin</a>
        </div>
      </div>
      </div>  


