<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
        <form [formGroup]="postAdminForm">
            <div class="mb-3">
                <label  class="form-label">Admin Name:</label>
                <input type="text" class="form-control" name="aname" formControlName="aname">
              </div>
            <div class="mb-3">
                <label  class="form-label">Password:</label>
                <input type="password" class="form-control" name="password" formControlName="password">
              </div>
              <button type="submit" class="btn btn-primary" (click)="adminLogin()">Login</button>
        </form>
    </div>
</div>