<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
        <form>
            <div class="mb-3">
                <label  class="form-label">Employee username:</label>
                <input type="text" class="form-control" name="empname" id="empname" [(ngModel)]="emp.empname">
              </div>
            <div class="mb-3">
                <label  class="form-label">Password:</label>
                <input type="password" class="form-control" name="password" id="password" [(ngModel)]="emp.password">
              </div>
              <button type="submit" class="btn btn-primary" (click)="empLogin()">Login</button>
        </form>
    </div>
</div>